<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PR CARE SOLUTIONS-Appoinment Management</title>
    <!-- Bootstrap CSS -->
    <link rel="icon" type="images/x-icon" href="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-1/177800/01-1024.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
       <!--
   * @author Yasiru
   * contact me : https://linktr.ee/yasiruchamuditha for more information.
   -->
</head>
<body>
    {% include 'nava.html' %}
    
    <div class="container my-5">
        <h1 class="text-center mb-4">Appoinment Management</h1>
        <table class="table table-bordered table-hover" style="margin-bottom: 410px;">
            <thead class="table-dark">
                <tr>
                    <th>User Email</th>
                    <th>patient_nic</th>
                    <th>preferred_date</th>
                    <th>preferred_time</th>
                    <th>doctor_email</th>
                    <th>specialization</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.user_email }}</td>
                    <td>{{ appointment.patient_nic }}</td>
                    <td>{{ appointment.preferred_date }}</td>
                    <td>{{ appointment.preferred_time }}</td>
                    <td>{{ appointment.doctor_email }}</td>
                    <td>{{ appointment.specialization }}</td>
                    <td>{{ appointment.submitted_at }}</td>
                    <td>
                        <!-- Only delete button -->
                        <form action="{{ url_for('delete_appointments', user_email =appointment.user_email) }}" method="post" style="display:inline-block;">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'footer.html' %}
    
    <!-- Bootstrap JS (for optional JavaScript components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
