<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename = 'css/style.css')}}">
    <title>PR CARE SOLUTIONS - SERVICES</title>
    <link rel="icon" type="images/x-icon" href="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-1/177800/01-1024.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <!--
    * @author Yasiru
    * contact me : https://linktr.ee/yasiruchamuditha for more information.
    -->
</head>
<body style="background: url(static/images/4register.png); background-size: cover;">
    {% include 'nav.html' %}
    <h1 style=" margin-top: 50px;">PR CARE SERVICES</h1>
    <!-- Service Section -->
<div class="container-fluid" style="width: 1400px; height: 800px; margin: 50px 100px 0 100px;">
  <div class="row">
      <div class="col-md-4">
          <div class="card" style="width: 350px;">
              <img src="static/images/d1.jpg" class="card-img-top" alt="E-Doctor Appointment" style="height: 200px; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">E-Doctor Appointment</h5>
                <p class="card-text">Book your doctor's appointment online, ensuring quick access to specialized healthcare services.</p>
                <a href="{{ url_for('book_doctor') }}"  class="btn btn-primary">Book Now</a>
              </div>
            </div>
      </div>

      <div class="col-md-4">
          <div class="card" style="width: 350px;">
              <img src="static/images/p1.jpg" class="card-img-top" alt="E-Prescription" style="height: 200px; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">E-Prescription</h5>
                <p class="card-text">Get prescription's Medicine via our system.This streamlining the process of managing and filling your medications.</p>
                <a href="{{ url_for('upload_file') }}" class="btn btn-primary">Book Now</a>
              </div>
            </div>
      </div>

      <div class="col-md-4">
          <div class="card" style="width: 350px;">
              <img src="static/images/r1.jpg" class="card-img-top" alt="E-Checkup Booking" style="height: 200px; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">E-Checkups</h5>
                <p class="card-text">Easily book your regular health checkups online, choosing the best time and tests for your needs.</p>
                <a href="{{ url_for('s_regularCheckup') }}" class="btn btn-primary">Book Now</a>
              </div>
            </div>
      </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="card" style="width: 350px; margin-top: 50px;">
          <img src="static/images/p2.jpg" class="card-img-top" alt="E-Public Health" style="height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">MY E-Appoinment</h5>
            <p class="card-text">Stay updated on public health services and information, promoting community health awareness.</p>
            <a href="#" class="btn btn-primary">Check Now</a>
          </div>
        </div>
    </div>

      <div class="col-md-4">
          <div class="card" style="width: 350px; margin-top: 50px;">
              <img src="static/images/t1.jpg" class="card-img-top" alt="E-Test Report" style="height: 200px; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">MY E-Checkups</h5>
                <p class="card-text">Access your medical test results securely online, saving time and avoiding the need for physical reports.</p>
                <a href="{{ url_for('display_checkups') }}" class="btn btn-primary">Check Now</a>
              </div>
            </div>
      </div>

      <div class="col-md-4">
          <div class="card" style="width: 350px; margin-top: 50px;">
              <img src="static/images/che1.jpg" class="card-img-top" alt="E-Health Tracking" style="height: 200px; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">MY E-Prescription</h5>
                <p class="card-text">Track your health metrics online, keeping you informed and proactive about your well-being.</p>
                <a href="{{ url_for('display_prescriptions') }}" class="btn btn-primary">Check Now</a>
              </div>
            </div>
      </div>

    
  </div>
</div>
<!-- End Service Section -->
 
    {% include 'footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-rS5pF5siw5S5n5O0z5n5PvFg5F6F5g5l5i5o5f5f5" crossorigin="anonymous"></script>
</body>
</html>
